/*  typography */
@import url("https://fonts.googleapis.com/css?family=Ropa+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Inter");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: 'New York';
  src: url('../plugins/fonts/New-York-Bold.ttf') format('truetype'), url('../plugins/fonts/New-York-Bold.woff2') format('woff2');
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.2;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #4c4c4c;
}

p, .paragraph {
  font-weight: 400;
  color: #4c4c4c;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
p-lg, .paragraph-lg {
  font-size: 22px;
}
a {
  color: #E24C35;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "New York","Playfair Display", serif;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 80px;
}
@media (max-width: 991px) {
  h1, .h1 {
    font-size: 12vw;
  }
}

h2, .h2 {
  font-size: 60px;
}
@media (max-width: 991px) {
  h2, .h2 {
    font-size: 50px;
  }
}

h3, .h3 {
  font-size: 40px;
}

h4, .h4 {
  font-size: 22px;
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 14px;
}

/* Button style */
.btn {
  font-size: 22px;
  font-family: 'Ropa Sans', sans-serif;
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 50px;
  font-weight: 700;
  border: 0;
  position: relative;
  z-index: 1;
  transition: 0.2s ease;
}
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.btn:active {
  box-shadow: none;
}
.btn-sm {
  font-size: 15px;
  padding: 10px 30px;
}
.btn-xs {
  padding: 5px 10px;
  font-size: 15px;
}

.btn-primary {
  background: #254D9A;
  color: #fff;
}
.btn-primary:active {
  background: #1D3B72 !important;
}
.btn-primary:hover {
  background: #1D3B72;
}
.btn-primary.focus, .btn-primary.active {
  background: #1D3B72 !important;
  box-shadow: none !important;
}
.btn-white {
  background: #fff;
  color: #254D9A;
}
.btn-white:active {
  background: #eee !important;
}
.btn-white:hover {
  background: #eee;
}
.btn-white.focus, .btn-primary.active {
  background: #eee !important;
  box-shadow: none !important;
}
.btn-transparent {
  background: transparent;
  color: #162D59;
  font-weight: bold;
}
.btn-transparent:active, .btn-transparent:hover {
  color: #162D59;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}


ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: 0.2s ease;
}
a:focus,
button:focus,
select:focus {
  outline: 0;
}

a.text-dark:hover {
  color: #162D59 !important;
}

a:hover {
  color: #162D59;
}
a.link:hover {
  color: #E24C35;
  text-decoration: underline;
}
.slick-slide {
  outline: 0;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-title {
  margin-bottom: 80px;
  font-family: 'New York', "Playfair Display", serif;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: #F4B26C !important;
}
.bg-secondary {
  background: #254D9A !important;
}
.bg-dark {
  background-color: #162D59 !important;
}
.bg-gray {
  background: #eaeaea !important;
}

.text-primary {
  color: #162D59 !important;
}
.text-primary-dark {
  color: #102141 !important;
}
.text-secondary {
  color: #E24C35 !important;
}

.text-color {
  color: #F77F00;
}

.text-dark {
  color: #000 !important;
}

.text-light {
  color: #999999 !important;
}
.text-sm {
  font-size: 15px;
}
.text-md {
  font-size: 18px;
}
.text-lg {
  font-size: 26px;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.rounded-lg {
  border-radius: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-secondary {
  font-family: 'EB Garamond', "Playfair Display", serif !important;
}

.font-tertiary {
  font-family: "New York", "Playfair Display", serif !important;
}

.shadow {
  box-shadow: 0px 18px 39.1px 6.9px rgba(209, 218, 225, 0.34) !important;
}
span.wow {
  display:inline-block;
}
/* icon */
.icon {
  font-size: 45px;
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
}

.icon-light {
  color: #c8d5ef;
}

/* /icon */
.navigation {
  padding: 10px 30px;
  background-color: #FFD686;
  transition: 0.3s ease;
  color:rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
}
.navigation.nav-bg {
  background-color: #FFD686;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  padding: 0px 30px;
}
@media (max-width: 991px) {
  .navigation.nav-bg {
    padding: 15px 20px;
  }
  .navigation {
    padding: 20px;
    background: #FFD686;
  }
  .dropdown-item {
    text-align: center;
  }
}
@media (min-width: 991px) {
  .navigation {
    min-width: 400px;
    right: 0!important;
    left: auto !important;
    border-radius: 0 0 0 50px;
  }
}

.navbar .nav-item .nav-link {
  font-family: 'Ropa Sans', "Inter", serif;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
  color: #162D59;
}
.navbar-dark .navbar-nav .active>.nav-link {
  /* font-weight: bold; */
  color: #162D59;
}

.navbar-dark .navbar-nav .active>.nav-link:hover {
  color: rgba(255,255,255,.75);
}

.navbar-dark .navbar-nav .nav-link {
  color: #162D59;
}
li.nav-item {
  position: relative;
}

.navbar .nav-item .dropdown-menu{ 
  display: none; 
  background-color: #FFD686;
  border-width: 0;
  border-radius: 0;
  min-width: 100px;
  padding: 5px 10px;
  left: -15px;
  font-family: 'Ropa Sans', "Inter", serif;
  font-size: 20px;
  text-transform: uppercase;
  animation: rotateX 500ms ease-in-out forwards;
  transform-origin: top center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.navbar .nav-item:hover .dropdown-menu{ display: block; }
.navbar .nav-item .dropdown-menu{ margin-top:0; }

.dropdown-item {
  color: #162D59;
}
.dropdown-item:hover {
  color: white;
}
.dropdown-item.active {
  background-color: transparent;
}
@keyframes rotateX {
0% {
  opacity: 1;
  transform: rotateX(-90deg);
}
50% {
  transform: rotateX(-20deg);
}
100% {
  opacity: 1;
  transform: rotateX(0deg);
}
}
@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}

.navbar .nav-item .dropdown-item {
  padding: 10px;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus{
  background-color: transparent;
}


.hero-area {
  padding: 200px 0 0;
  position: relative;
}
@media (max-width: 767px) {
  .hero-area {
    padding: 200px 0 0;
    overflow: hidden;
  }
}
.hero-area h1 {
  position: relative;
  z-index: 2;
}

.lead {
  margin: 10vh 0 0;
  padding: 20px 50px;
  background-color: #FFD686;
  width: 90%;
  border-radius: 0 50px 0 0; 
}

.layer {
  position: absolute;
  z-index: 1;
}

#l1 {
  bottom: 0;
  left: 0;
}

#l2 {
  top: 190px;
  left: -250px;
}

#l3 {
  top: 360px;
  left: 50px;
}

#l4 {
  top: 200px;
  right: 40%;
}

#l5 {
  top: 100px;
  right: -150px;
}

#l6 {
  top: 350px;
  left: 5%;
}
#l7 {
  top: 190px;
  right: 35%;
}

.team {
  background-color: #EE8457;  
}

.instructor-card {
  background-color: #FFD686;
  border-radius: 20px;
  padding-bottom: 20px;
  margin: 0 20px 30px;
  box-shadow: 0px 18px 39.1px 6.9px rgba(0, 0, 0, 0.14) !important;
}

.instructor-img {
  width: 80%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin: 20px;
}
.instructor-text {
  margin: 40px;
}
/* About page */
.instructor-card.about {
  width: 100%;
  vertical-align: middle;
  padding: 40px 0;
}
.img-wrapper-left {
  width:30%;
  display: inline-block;
  vertical-align: middle;
  padding: 0px 0px 0 40px;
}
.about-text{
  padding: 0px 40px 40px 20px;
  width: 60%;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 1200px) {
  .img-wrapper-left {
    width: 45%;
    padding: 20px;
  }
  .about-text {
    width: 45%;
  }
}
@media (max-width: 1000px) {
  .instructor-card.about {
    padding: 40px;
    margin: 30px 0;
  }
  .img-wrapper-left {
    width: 45%;
    padding: 0 0px;
    float: left;
  }
  .about-text {
    width: 45%;
    display:contents;
  }
}
@media (max-width: 790px) {
  .instructor-card.about {
    text-align: center;
  }
  .img-wrapper-left {
    width: 100%;
    padding: 0 0px;
    float: left;
  }
  .about-text {
    width: 100%;
    display:inline-block;
  }
}
/* testimonial */
.fa-quote-left {
  color: #E24C35;
}
/* slick slider */
.slick-dots {
  text-align: center;
  padding-left: 0;
}
.slick-dots li {
  display: inline-block;
  margin: 2px;
}
.slick-dots li.slick-active button {
  background: #fff;
  width: 25px;
}
.slick-dots li button {
  height: 6px;
  width: 12px;
  background: rgba(255, 255, 255, 0.5);
  color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s ease;
  border: 0;
}

.slick-prev, .slick-next {
  background-color: transparent;
  border: none;
  width:50px;
  height:50px;
  position:absolute;
  top:50%;
  -ms-transform: translateY(-50%); /* IE 9 */
  -webkit-transform: translateY(-50%); /* Safari */
  transform: translateY(-50%);
}
.slick-prev{
  left:-10%;
}
.slick-next{
  right:-10%;
}

/* /slick slider */
/* /testimonial */
/* footer */

/* /footer */

blockquote {
  display: inline-block;
  padding: 20px 25px;
  background: #eaeaea;
  border-left: 3px solid #162D59;
  font-style: italic;
  font-size: 22px;
  line-height: 1.7;
}
ol.steps {
  list-style: none !important;
}
ol.steps li {
  margin-bottom: 35px;
  line-height: 36px;
  font-size: 22px;
  padding-left: 15px;
  counter-increment: item;
}
ol.steps li:before {
  content: counter(item) " ";
  font-family: "New York","Playfair Display", serif;
  text-align: center;
  color: #FFD686;
  position:absolute;
  left:20px;
  z-index:-1;
  display:inline-block;
  width:36px;
  height:36px;
  border-radius:500px;
  background: #E24C35;
}

/*collapse*/
.collapsible {
  background-color: #fff;
  color: #E24C35;
  font-weight: 600;
  border: none;
  border-bottom: 2px solid #eee;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 1s;
}

.active {
  background-color: #FFE4AD;
}

.collapsible:after {
  content: '\002B';
  color: #F77F00;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #EFF3FB;
}
p.description {
    padding-top: 10px;
    text-align: left;
}

.table-section {
  padding:20px;
  width: 100%;
}
.table{
  /* display: block !important; */
  overflow-x: auto !important;
  max-width: calc(100vw - 80px) !important;
  width: 100%; 
  color: #162D59;
}
thead {
  background-color: #FFD686;
}
td, tr, td, th {
  border: none !important;
}
tr:nth-child(even) {
  background-color: #FFF1D6;
}

/* calendar */

.calendar {
  width: 100%;
}
#smgc-cal-FCyEWK2VNfbhMhwH14lr-calendar-container {
  border-width: 2px !important;
  border-radius: 30px;
  padding: 5vw;
  border-color: #FFD686 !important;
}
.smgc-cal-FCyEWK2VNfbhMhwH14lr-button {
  font-family: "Inter", sans-serif !important;
  font-weight: bold;
  padding: 3px !important;
  margin: 0 !important; 
  background-color: #FFE4AD !important;
  border-radius: 10px !important;
}
.smgc-cal-FCyEWK2VNfbhMhwH14lr-calendar-month-title {
  font-family: "New York","Playfair Display", serif !important;
  font-size: 36px !important;
}
.smgc-cal-FCyEWK2VNfbhMhwH14lr-calendar-month-header {
  margin-bottom: 20px;
}
#smgc-cal-FCyEWK2VNfbhMhwH14lr-day-of-week-letters {
  margin-bottom: 8px;
}
#smgc-cal-FCyEWK2VNfbhMhwH14lr-day-of-week-letters span {
  color: #F77F00 !important;
  text-align: left !important;
  padding: 5px !important;
  font-weight: bold;
  font-family: "New York","Playfair Display", serif !important;
}
#smgc-cal-FCyEWK2VNfbhMhwH14lr-calendar-container .smgc-cal-FCyEWK2VNfbhMhwH14lr-calendar-week .smgc-cal-FCyEWK2VNfbhMhwH14lr-month-day-container {
  border-width: 0 !important;
  font-family: "Inter", sans-serif !important;
  padding: 5px !important;
}
.smgc-cal-FCyEWK2VNfbhMhwH14lr-default-header {
  border-bottom-width: 0 !important;
  text-align: left !important;
  color: #254D9A !important; 
  font-family: "New York","Playfair Display", serif !important;
}
.smgc-cal-FCyEWK2VNfbhMhwH14lr-event-start-time {
  color: #CC6900 !important;
}
.smgc-cal-FCyEWK2VNfbhMhwH14lr-event-summary {
  color: #F77F00 !important;
}
.add-calendar-button, span.plus, span.subscribe {
  background-color:#F77F00 !important;
  color: #fff !important;
  border: 2px solid #F77F00 !important;
}

.smgc-watermark {
  display: none;
}

input#query {
  font: 16px Inter;
  height: 100%;
  padding: 13px 15px;
  border-radius: 500px;
  border: 0px;
  background-color: #FFF1D6;
  width: 70%;
  margin: 10px;
}
input#query:focus {
  outline-color: #F77F00;
}
input#query::placeholder {
  color: #F77F00;
  opacity: 0.7; 
}
.search {
  height: 100%;
  background-color: #F77F00;
  color: white;
  font: 16px Inter;
  padding: 10px 15px;
  margin: 10px;
}
form#search {
  width: 50vw;
  display: flex;
  justify-content: center;
}
@media (max-width: 991px) {
  form#search {
    width: 100%;
  }
}


svg {
  color: #fff;
  fill: currentColor;
  width: 22px;
}


/* blog cards */
.blog-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 1rem;
}

.card {
  border: none;
  background-color: #fef8ec;
  border-radius: 22px;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  top: 0;
  overflow: hidden;
}

.card:hover {
  top: -5px;
  transition: .3s; 
}

.card-img-blog {
  object-fit: cover;
  flex-grow: 1;
  min-height: 0;
}

.card-label {
  background-color: white;
  padding: 20px;
  border-radius: 0 0 20px 20px;
}

.card-label > .header {
  margin-bottom: .3rem;
  color: #E85928;
  font: 1000 20px Inter;
}
.card-label > .subtitle {
  font-size: 1 rem;
  color: #162D59;
  margin-bottom: .15rem;
}
.card-label > .body {
  font-size: .8rem;
  color: #777;
}
.card-label > .date {
  font-size: .8rem;
  color: #E85928;
}
.taglist {
  display: flex;
  margin: 15px 0;
  padding: 0;
}

.taglist > li {
  padding: 5px;
  background-color: #FFE4AD;
  margin-right: 5px;
  border-radius: 5px;
  color:#E85928;
}


.hide {
  display: none;
}

.page-nums {
  display: flex;
  font: 800 15px New York;
  font-family: "New York","Playfair Display", serif;
  margin-top: 50px;
}
.page-nums > li {
  margin: 10px;
  padding-top: 10px;
  text-align: center;
  color: #162D59;
  border-radius: 50px;
  width:36px;
  height:36px;
}
.page-nums > li:hover {
  cursor: pointer;
}
.page-nums > li.active-num {
  background-color: #FFE4AD;
}