.bg-primary-usnco {
    background: #9fd5e3 !important;
}

.lead-usnco {
    background: #9be4d3 !important;
}
.text-primary-usnco {
    color: #0a9c86 !important;
}
.text-primary-usnco-dark {
    color: #0d584d !important;
}